<div class="bodyclass">
  <div id="result" class="row resultrow databox hide">
    <div class="col-10 offset-1">
      <div class="resulttext">
        <h3 class="madlibTitle" id="madlibTitle"></h3>
        <h4 class="madlibAuthor" id="madlibAuthor"></h4>
        <p class="resultpara" id="resultpara">
          {{ body }}
        </p>
      </div>
      
      <button class="button nextbutton" id="next" name="Reset">
        <!-- v:onClick="nextMadlib" -->
        Next
      </button>
    </div>
  </div>
</div>


















































